.widget{
    display: flex;
    flex: 1;
    justify-content: space-between;
    height: 130px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201 ,0.47);

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .left{
        p{
            font-size: 18px;
            text-transform: uppercase;
            color: #999;
        }
        h3{
            font-size: 25px;
        }
        span{
            border-bottom: 1px solid #999;
        }
    }

    .right{
        .percentage{
            display: flex;
            align-items: center;

            &.positive{
                color: green;
            }

            &.negative{
                color: red;
            }
        }
        
        .icon{
            align-self: flex-end;
            background-color:#80008033;
            border-radius: 5px;
            padding: 5px;
            font-size: 30px;
        }
    }
}